@import url(http://fonts.googleapis.com/css?family=Federo|Raleway:300);
html {
  font-size: 125%;
  line-height: 1.5em;
}

html, body {
  height: 100%;
}

#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -60px;
}
#root #root_footer {
  height: 60px;
}

#footer {
  clear: both;
  position: relative;
  height: 60px;
}

body {
  color: #eaeaea;
  font-family: "Raleway:300", sans-serif;
  font-size: 20px;
  background-color: #eaeaea;
  background: url("../images/hollywood_sign_by_ilove-d2y4qfp.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body:after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(32, 23, 19, 0.7);
  background-image: linear-gradient(to bottom right, #201713, #201713);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  z-index: -1;
}

.title h1 {
  font-family: "Federo", sans-serif;
  font-size: 2.5em;
  text-align: center;
}

.quote-container {
  text-align: center;
  margin: 2em 0 3em 0;
}

.quote-text {
  font-size: 1.2em;
}

.movie {
  font-size: .8em;
  margin-bottom: 2em;
}

.tweet {
  color: #eaeaea;
  font-size: 0.7em;
  margin: 5em;
  -moz-transition-property: font-size, 0.7em;
  -o-transition-property: font-size, 0.7em;
  -webkit-transition-property: font-size, 0.7em;
  transition-property: font-size, 0.7em;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.tweet:hover {
  color: #eaeaea;
  font-size: 1em;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.btn {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  margin-bottom: 0.3em;
  opacity: 1;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.copyright {
  color: #eaeaea;
  font-size: 0.5em;
  text-align: center;
}
