/* line 106, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 125%;
  line-height: 1.5em;
}

/* line 10, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -60px;
}
/* line 18, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 60px;
}

/* line 20, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 60px;
}

/* line 11, ../sass/style.scss */
body {
  color: #eaeaea;
  font-size: 20px;
  background-color: #eaeaea;
  background: url("../images/hollywood_sign_by_ilove-d2y4qfp.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 22, ../sass/style.scss */
body:after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(32, 23, 19, 0.7);
  background-image: linear-gradient(to bottom right, #201713, #201713);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  z-index: -1;
}

/* line 35, ../sass/style.scss */
h1 {
  font-size: 2em;
}

/* line 38, ../sass/style.scss */
.title {
  text-align: center;
}

/* line 41, ../sass/style.scss */
.quote-container {
  text-align: center;
  margin: 2em auto;
}

/* line 45, ../sass/style.scss */
.btn {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}

/* line 50, ../sass/style.scss */
.copyright {
  color: #eaeaea;
  font-size: 0.5em;
  text-align: center;
}
