@import "compass";
@import "palette.sass";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900);

$base-primary-color: #eaeaea;
$base-font: "Roboto", sans-serif;
$base-font-size: 20px;
$base-line-height: 30px;
@include establish-baseline;

body {
  font-family: $base-font;
  font-weight: 400;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $primary-text-color;
}
.page-title {
  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-align: center;
  }
}
.current-conditions {
  background-color: $primary-color-light;
  border: 1px solid $primary-text-color;
  text-align: center;
  margin: auto;
  max-width: 50%;
}
.curr-cond-data {
  margin-bottom: 0.3em;
}
.weather-label {
  color: $secondary-text-color;
}
.weather-icon {
  i {
    margin: auto;
    font-size: 5em;
  }
}
.city {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2em;
}
.change-unit-type {
  button {
    background: none;
    border: none;
    color: $primary-color;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
// xsmall devices
@media (max-width: 768px) {
  .current-conditions {
    max-width: 100%;
  }
}
