@import "compass";

$base-primary-color: #eaeaea;
$base-font: "Roboto", sans-serif;
$base-font-size: 20px;
$base-line-height: 30px;
@include establish-baseline;

.page-title {
  text-align: center;
}
.current-conditions {
  text-align: center;
  margin: auto;
  max-width: 25%;
}
.weather-icon img {
  width: 13em;
}
.city {
  font-size: 2em;
}
// xsmall devices
@media (max-width: 768px) {
  .current-conditions {
    max-width: 100%;
  }
}
