/* line 106, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 125%;
  line-height: 1.5em;
}

/* line 9, ../sass/style.scss */
.page-title {
  text-align: center;
}

/* line 12, ../sass/style.scss */
.current-conditions {
  text-align: center;
  margin: auto;
  max-width: 25%;
}

/* line 17, ../sass/style.scss */
.weather-icon img {
  width: 13em;
}

/* line 20, ../sass/style.scss */
.city {
  font-size: 2em;
}

@media (max-width: 768px) {
  /* line 25, ../sass/style.scss */
  .current-conditions {
    max-width: 100%;
  }
}
