/* line 106, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 125%;
  line-height: 1.5em;
}

/* line 9, ../sass/style.scss */
.page-title {
  text-align: center;
}

/* line 12, ../sass/style.scss */
.current-conditions {
  text-align: center;
  margin: auto;
  max-width: 33%;
}

/* line 17, ../sass/style.scss */
.weather-icon img {
  width: 13em;
}

/* line 20, ../sass/style.scss */
.city {
  font-size: 2em;
}

/* line 23, ../sass/style.scss */
.change-unit-type button {
  background: none;
  border: none;
  display: inline;
  font: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
/* line 33, ../sass/style.scss */
.change-unit-type button:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  /* line 39, ../sass/style.scss */
  .current-conditions {
    max-width: 100%;
  }
}
